<!DOCTYPE html>
<html lang="en">
<head>
	<% include head %>
	<link href="css/issue.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="js/issue.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body id="page-top">
	<% include navbar %>

	<div class="bgr">
		<div id="msform">
			<div id="issueContent">
				<div class="header">
					<div class="header-logo">
						<img src="/images/icons/favicon.ico" width="64" height="64">
					</div>
					<div class="issue-title">
						IT Service Desk /  
						<a href="#">ITSD-<%= issueData.idIssue %></a>
					</div>
					<div class="issue-summary" id="summary">
						<%= issueData.summary %>
					</div>
					<div class="issue-actions">
						<div class="alert alert-success alert-dismissible fade show" id="editSuccess" role="alert" style="margin-top: 5px; margin-bottom: 1px;">
						  <strong>Issue successfully updated!</strong>
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="alert alert-danger alert-dismissible fade show" id="editFail" role="alert" style="margin-top: 5px; margin-bottom: 1px;">
						  <strong>An error was encountered while updating this issue. Please try again!</strong>
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<button class="action-button" onclick="showEditIssue()">Edit</button>
						<button class="action-button">Comment</button>
						<button class="action-button" onclick="showAssignModal()">Assign</button>
						<button class="action-button">In Progress</button>
					</div>
				</div>
				<div class="issueBody">
					<div class="issueBody description">
						<div class="sectionContainer">
							<div class="sectionTitle">
								<h2>Details</h2>
							</div>
							<div class="sectionContent">
								<table>
									<tbody>
										<tr>
											<td>Status:</td>
											<td id="status"><%= issueData.status %></td>
										</tr>
										<tr>
											<td>Severity:</td>
											<td id="severity"><%= issueData.severity %></td>
										</tr>
										<tr>
											<td>Priority:</td>
											<td id="priority"><%= issueData.priority %></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="sectionTitle">
								<h2>Description</h2>
							</div>
							<div class="sectionContent">
								<textarea class="descriptionArea" id="description"><%= issueData.description %></textarea>
							</div>

							<div class="sectionTitle">
								<h2>Attachments</h2>
							</div>
							<div class="sectionContent">
								<table>
									<tbody>
										<tr>
											<td><img src="/images/icons/attach.png" width=26 height=26>
												<% if(issueData.attach == 'NULL') { %>
													<span>There is no file attached to this ticket.</span></td>
												<% } else { %>
													<a href="/uploads/<%= issueData.attach %>"><%= issueData.attach %></a><% } %></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="issueBody people">
						<div class="sectionTitle">
							<h2>People</h2>
						</div>
						<div class="sectionContent">
							<table>
								<tbody>
									<tr>
										<td>Reporter:</td>
										<td><%= reporter.firstname + ' ' + reporter.lastname %></td>
									</tr>
									<tr>
										<td>Assignee:</td>
										<td id="assignee"><%= assignee.firstname + ' ' + assignee.lastname %></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="sectionTitle">
							<h2>Dates</h2>
						</div>
						<div class="sectionContent">
							<table>
								<tbody>
									<tr>
										<td>Created:</td>
										<td><%= issueData.created %></td>
									</tr>
									<tr>
										<td>Updated:</td>
										<td><%= issueData.updated %></td>
									</tr>
								</tbody>
							</table>
						</div>
						
					</div>
					<div class="activity">
						<div class="sectionContainer">
							<div class="sectionTitle">
								<h2>Comments</h2>
							</div>
							<div class="sectionContent">
								<button class="action-button">Comment</button>
								<div>
									<p style="clear: left;">test</p>
									<p style="clear: left;">test</p>
									<p>test</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>       
	</div>

	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header" style="background-color: #dc143c;">
	        <h5 class="modal-title" id="editModalLabel">Edit Issue</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="OK">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Summary:</label>
	            <input type="text" class="form-control" id="editSummary" value="<%= issueData.summary %>">
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="col-form-label">Description:</label>
	            <textarea class="form-control" id="editDescription"><%= issueData.description %></textarea>
	          </div>
	          <div class="styled-select slate">
			  <select id="editSeverity">
			  	<%
					var options = ['Question', 'Incident', 'Problem'];
					for (var i = 0; i < options.length; i++) {
					    var selected = (issueData.severity == options[i]) ? "selected" : "";
					    %><option value="<%=options[i] %>" <%=selected %>><%=options[i] %></option><%
					}
				%>
			  </select>
			  </div>
			  <div class="styled-select slate">
			    <select id="editPriority">
			    <%
					var options = ['Low', 'Medium', 'High', 'Urgent'];
					for (var i = 0; i < options.length; i++) {
					    var selected = (issueData.priority == options[i]) ? "selected" : "";
					    %><option value="<%=options[i] %>" <%=selected %>><%=options[i] %></option><%
					}
				%>
			    </select>
			  </div>
			  <div class="upload-btn-wrapper">
			    <button id="attach" class="attach">Attach File</button>
				<input id="uploadFile" type="file" onchange="addAttachIcon()"/>
			  </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="modalOk" style="background-color: #dc143c;">OK</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header" style="background-color: #dc143c;">
	        <h5 class="modal-title" id="assignModalLabel">Edit Issue</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="OK">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Assign:</label>
	            <input type="text" class="typehead form-control" id="assign" autocomplete="off" spellcheck="false">
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="modalOk" style="background-color: #dc143c;">OK</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div id="hiddenId" style="display: none"><%= issueData.idIssue %></div>

	<% include footer %>
	<% include script %>

	
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
  <script src="js/jquery.autocomplete.js"></script>

	<script>
		$("#modalOk").on("click", function(e) {
			submit();
		});

		$("#editSuccess").hide();
		$("#editFail").hide();


	assignAutocomplete();
	</script>

</body>
</html>