<!DOCTYPE html>
<html lang="en">
<head>
	<% include head %>
	<link href="css/issue.css" rel="stylesheet">
</head>
<body id="page-top">
	<% include navbar %>

	<div class="bgr">
		<div id="msform">
			<div id="issueContent">
				<div class="header">
					<div class="header-logo">
						<img src="/images/icons/favicon.ico" width="64" height="64">
					</div>
					<div class="issue-title">
						IT Service Desk /  
						<a href="#">ITSD-<%= issueData.idIssue %></a>
					</div>
					<div class="issue-summary">
						<%= issueData.summary %>
					</div>
					<div class="issue-actions">
						<button class="action-button">Edit</button>
						<button class="action-button">Comment</button>
						<button class="action-button">Assign</button>
						<button class="action-button">In Progress</button>
					</div>
				</div>
				<div class="issueBody">
					<div class="issueBody description">
						<div class="sectionContainer">
							<div class="sectionTitle">
								<h2>Details</h2>
							</div>
							<div class="sectionContent">
								<table>
									<tbody>
										<tr>
											<td>Status:</td>
											<td><%= issueData.status %></td>
										</tr>
										<tr>
											<td>Severity:</td>
											<td><%= issueData.severity %></td>
										</tr>
										<tr>
											<td>Priority:</td>
											<td><%= issueData.priority %></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="sectionTitle">
								<h2>Description</h2>
							</div>
							<div class="sectionContent">
								<textarea class="descriptionArea"><%= issueData.description %></textarea>
							</div>

							<div class="sectionTitle">
								<h2>Attachments</h2>
							</div>
							<div class="sectionContent">
								<table>
									<tbody>
										<tr>
											<td><img src="/images/icons/attach.png" width=26 height=26><%= issueData.attach %></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="issueBody people">
						<div class="sectionTitle">
							<h2>People</h2>
						</div>
						<div class="sectionContent">
							<table>
								<tbody>
									<tr>
										<td>Reporter:</td>
										<td><%= reporter.firstname + ' ' + reporter.lastname %></td>
									</tr>
									<tr>
										<td>Assignee:</td>
										<td><%= assignee.firstname + ' ' + assignee.lastname %></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="sectionTitle">
							<h2>Dates</h2>
						</div>
						<div class="sectionContent">
							<table>
								<tbody>
									<tr>
										<td>Created:</td>
										<td><%= issueData.created %></td>
									</tr>
									<tr>
										<td>Updated:</td>
										<td><%= issueData.updated %></td>
									</tr>
								</tbody>
							</table>
						</div>
						
					</div>
					<div class="activity">
						<div class="sectionContainer">
							<div class="sectionTitle">
								<h2>Comments</h2>
							</div>
							<div class="sectionContent">
								<button class="action-button">Comment</button>
								<div>
									<p style="clear: left;">test</p>
									<p style="clear: left;">test</p>
									<p>test</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>       
	</div>

	<% include footer %>
	<% include script %>

</body>
</html>