<!DOCTYPE html>
<html lang="en">
<head>
	<% include head %>
	<link href="css/search.css" rel="stylesheet">
</head>
<body>
	<% include navbar %>

    <div class="bgr">
    	<div id="msform">
    		<div class="searchContainer">
    			<div class="header">
    				Search Results: <span id="searchedItem"></span>
    			</div>
    			<div class="filter">

    			</div>
    			<div class="results">
    				<table id="results">
    					<tbody>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <input class="filter" type="text" id="filterBySummary" onkeyup="filterBySummary()" placeholder="Filter by Summary">
                                </td>
                                <td>
                                    <input class="filter" type="text" id="filterByAssignee" onkeyup="filterByAssignee()" placeholder="Filter by Assignee">
                                </td>
                                <td>
                                    <input class="filter" type="text" id="filterByReporter" onkeyup="filterByReporter()" placeholder="Filter by Reporter">
                                </td>
                            </tr>
                        	<tr>
    							<th>IssueID</th>
    							<th onclick="sortTable(1)">Summary</th>
    							<th onclick="sortTable(2)">Assignee</th>
    							<th onclick="sortTable(3)">Reporter</th>
    							<th onclick="sortTable(4)">Severity</th>
    							<th onclick="sortTable(5)">Priority</th>   
                                <th onclick="sortTable(6)">Status</th>   
    							<th onclick="sortTable(7)">Created</th>
    							<th onclick="sortTable(8)">Updated</th> 							
    						</tr>

    						<% issueData.forEach(function(issue) { %>
	    						<tr>
	    							<td><a href="/ITSD-<%= issue.idIssue %>" style="color: black; text-decoration: underline;">ITSD-<%= issue.idIssue %></a></td>
	    							<td><%= issue.summary %></td>
	    							<td><%= issue.assignee %></td>
	    							<td><%= issue.reporter %></td>
	    							<td><%= issue.severity %></td>
	    							<td><%= issue.priority %></td>
                                    <td><%= issue.status %></td>
	    							<td><%= issue.created %></td>
	    							<td><%= issue.updated %></td>
	    						</tr>
	    					<% }); %>
    					</tbody>
    				</table>
    			</div>
    		</div>
    	</div>
    </div>
	
	<% include footer %>
	<% include script %>
    <script src="js/searchFunctionalities.js"></script>
</body>
</html>